.container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  width: 200px;
  
  display: flex;
  flex-direction: column;
}

.container label {
  margin-bottom: 0.25rem;
}

.container input {
  margin-bottom: 0.5rem;
}

.container button {
  margin-top: 1rem;
  height: 3rem;
}